aiodns==3.2.0
array_api_strict==2.2
async_timeout==5.0.1
brotli==1.1.0
brotlicffi==1.1.0.0
cElementTree==1.0.2-20050302
cffi==1.17.1
chardet==5.2.0
checks==0.2
ConfigParser==7.1.0
contextlib2==21.6.0
coverage==7.6.9
cryptography==44.0.0
dl==0.1.0
docutils==0.21.2
elementtree==1.2.6-20050316
filelock==3.16.1
gunicorn==23.0.0
h2==4.1.0
HTMLParser==0.0.2
httpx==0.28.1
hypothesis==6.122.3
importlib_resources==6.4.5
ini2toml==0.15
ipython==8.30.0
ipywidgets==8.1.5
jax==0.4.37
jnius==1.1.0
keyring==25.5.0
lxml==5.3.0
mask==1.0.0
matplotlib==3.9.3
mock==5.1.0
mpmath==1.3.0
mtrand==0.1
mypy==1.13.0
Parser==0.1
path.py==12.5.0
pickle5==0.0.12
Pillow==11.0.0
pkg1==0.0.3
pooch==1.8.2
protobuf==5.29.1
psutil==6.1.0
PyInstaller==6.11.1
pyodide==0.0.2
pyOpenSSL==24.3.0
pytest==8.3.4
pytest_fail_slow==0.6.0
pytest_timeout==2.3.1
pythran==0.17.0
pytz==2024.2
redis==5.2.1
runtests==0.0.28
scikits.talkbox==0.2.5
scipy_doctest==1.5.1
simplejson==3.19.3
Sphinx==8.1.3
sympy==1.13.3
testfixtures==8.3.0
thread==2.0.5
threadpoolctl==3.5.0
tomli_w==1.1.0
tree_sitter==0.23.2
tree_sitter_bash==0.23.3
tree_sitter_css==0.23.1
tree_sitter_go==0.23.4
tree_sitter_html==0.23.2
tree_sitter_java==0.23.4
tree_sitter_javascript==0.23.1
tree_sitter_json==0.24.8
tree_sitter_markdown==0.3.2
tree_sitter_python==0.23.5
tree_sitter_regex==0.24.3
tree_sitter_rust==0.23.2
tree_sitter_sql==0.3.7
tree_sitter_toml==0.7.0
tree_sitter_xml==0.7.0
tree_sitter_yaml==0.7.0
trove_classifiers==2024.10.21.16
urllib3_secure_extra==0.1.0
uv==0.5.8
uvloop==0.21.0
xmlrpclib==1.0.1
xx==3.3.2
zstandard==0.23.0
