Screen {
    align: center middle;
}


WaveformCanvas {
    width: 1fr;
    height: 1fr;
    border: solid white;
    scrollbar-size: 1 1;
    overflow-y: hidden;
    overflow-x: hidden;
}

#grid-prog{
    layout: grid;
    grid-size: 2 2;
    grid-columns:  1fr 1fr;
}

#plugin-selection-list {
    width: 1fr;
    height: 1fr;
}



.wf{
    padding: 0;
    margin: 0;
}
